#main {
    padding-top: 80px;
    padding-bottom: 30px;
    height: 80vh;
    background-color: #537780;
    font-family: 'Raleway', sans-serif;
}

li {
    font-size: 1.1em;
    list-style-type: none;
    line-height: 2.4em;
    border-bottom: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px dotted #d8e0e6;
}

ul {
    padding-left: 0px;
}

.done-true {
    text-decoration: line-through;
    color: #555;
}

.panel-body {
    height: 50vh;
    overflow: hidden;
}

.panel-body:hover {
    overflow-y: auto;
}

.panel>.panel-heading {
    color: white;
    background-color: #625772;
    border-color: #625772;
}

.panel {
    border-color: #625772;
    margin: 10px;
}

a {
    color: inherit;
    display: inline-block;
    cursor: pointer;
}

a:hover,
a:focus {
    color: #555;
    font-weight: bold;
    text-decoration: none;
}

#trash {
    visibility: hidden;
}

#footer {
    background-color: #4A2C2C;
    width: 100%;
    height: 20vh;
    border-top: 1px solid hsla(0, 0%, 0%, .03);
    padding: 20px 0px;
}

.footer-glyphicon {
    font-size: 36px;
}

.btn {
    color: #BBB;
}

.btn-dim {
    color: #777;
}

.btn:hover {
    color: #FFF;
}

.btn:active {
    box-shadow: none;
}

.footer__btn__text {
    margin-top: 20px;
}