<!DOCTYPE html>
<html>

<head>
    <title>New Tab</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <div id="main">
        <div class="container">
            <div class="row text-muted">
                <div class="container">
                    <div class="col-xs-4 url-apps" id="f_sites">
                        <div class="panel  ">
                            <div class="panel-heading text-uppercase"><span class="glyphicon glyphicon-stats"></span> &nbsp; Frequent Sites</div>
                            <div class="panel-body">
                                <ul>
                                    <li v-for="urlObject in frequentSitesArray" title="{{urlObject.title}}">
                                        <list-component v-bind:url-object="urlObject"></list-component>
                                    </li>
                                    <li v-on:click="numberOfItems = numberOfItems + 10">More</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 url-apps" id="r_bookmarks">
                        <div class="panel  ">
                            <div class="panel-heading text-uppercase"><span class="glyphicon glyphicon-bookmark"></span> &nbsp; Recent Bookmarks</div>
                            <div class="panel-body">
                                <div class="panel-body-child">
                                    <ul>
                                        <li v-for="urlObject in recentBookmarksArray" title="{{urlObject.title}}">
                                            <list-component v-bind:url-object="urlObject"></list-component>
                                        </li>
                                        <li v-on:click="numberOfItems = numberOfItems + 10">More</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="panel  " id="todos_app">
                            <div class="panel-heading">
                                <span class="glyphicon glyphicon-check"></span> &nbsp; <span class="text-uppercase">{{app_name}}</span><span class="glyphicon glyphicon-trash text-muted pull-right" title="Clear Done" id="trash"></span>
                            </div>
                            <div class="panel-body">
                                <input v-model="todoText" placeholder="What needs to be done" class="form-control" v-on:keyup.enter="addTodo" />
                                <ul v-if="todos.length">
                                    <li v-for="todoitem in pendingTodos" class="todos_items">
                                        <input type="checkbox" v-model="doneItems" value="{{todoitem.todoId}}" v-on:click="todoitem.done = !todoitem.done" checked="{{todoitem.done}}">
                                        <label class="done-{{todoitem.done}}" title="{{todoitem.text}}" style="font-weight: normal;margin-bottom: 0px;"> {{ todoitem.text }} </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="container">
                    <center>
                        <div class="col-md-2 btn" v-on:click="openLink('restore session')">
                            <span class="glyphicon glyphicon-repeat footer-glyphicon"></span>
                            <br>
                            <br>
                            <span><strong>Reopen Closed Tabs</strong></span>
                        </div>
                        <div class="col-md-2 btn" v-on:click="openLink('chrome://apps')">
                            <span class="glyphicon glyphicon-th footer-glyphicon"></span>
                            <br>
                            <br>
                            <span><strong>Apps</strong></span>
                        </div>
                        <div class="col-md-2 btn" v-on:click="openLink('chrome://bookmarks')">
                            <span class="glyphicon glyphicon-bookmark footer-glyphicon"></span>
                            <br>
                            <br>
                            <span><strong>Bookmarks</strong></span>
                        </div>
                        <div class="col-md-2 btn" v-on:click="openLink('chrome://history')">
                            <span class="glyphicon glyphicon-time footer-glyphicon"></span>
                            <br>
                            <br>
                            <span><strong>History</strong></span>
                        </div>
                        <div class="col-md-2 btn" v-on:click="openLink('chrome://downloads')">
                            <span class="glyphicon glyphicon-download-alt footer-glyphicon "></span>
                            <br>
                            <br>
                            <span><strong>Downloads</strong></span>
                        </div>
                        <div class="col-md-2 btn" v-on:click="openLink('chrome://settings')">
                            <span class="glyphicon glyphicon-cog footer-glyphicon"></span>
                            <br>
                            <br>
                            <span><strong>Settings</strong></span>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript" src="main.js"></script>
</body>

</html>
