<!DOCTYPE html>
<html>

<head>
    <title>New Tab</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <div id="main">
        <div class="container">
            <div class="row text-muted">
                <div class="container">
                    <div class="col-xs-4 url-apps" id="f_sites">
                        <div class="panel panel-success">
                            <div class="panel-heading text-uppercase"><span class="glyphicon glyphicon-stats"></span> &nbsp; {{app_name}}</div>
                            <div class="panel-body">
                                <ul>
                                    <li v-for="sites in frequentSitesArray" v-bind:sites="sites" title="{{sites.title}}">
                                        <a class=" text-muted" href="{{sites.url}}"><img v-bind:src="sites.faviconUrl">&nbsp;&nbsp;{{sites.title}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 url-apps" id="r_bookmarks">
                        <div class="panel panel-success">
                            <div class="panel-heading text-uppercase"><span class="glyphicon glyphicon-bookmark"></span> &nbsp; {{app_name}}</div>
                            <div class="panel-body">
                                <div class="panel-body-child">
                                    <ul>
                                        <li v-for="bookmark in recentBookmarksArray" v-bind:bookmark="bookmark">
                                            <a class=" text-muted" href="{{bookmark.url}}" title="{{bookmark.title}}"><img v-bind:src="bookmark.faviconUrl">&nbsp;&nbsp;{{bookmark.title}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="panel panel-success" id="todos_app">
                            <div class="panel-heading">
                                <span class="glyphicon glyphicon-check"></span> &nbsp; <span class="text-uppercase">{{app_name}}</span> ( {{todos.length}} pending )
                                <span class="glyphicon glyphicon-trash text-muted pull-right" title="Clear Done" id="trash"></span>
                            </div>
                            <div class="panel-body">
                                <form v-on:submit.prevent="addTodo">
                                    <input v-model="todoText" placeholder="What needs to be done" class="form-control" />
                                </form>
                                <ul v-if="todos.length">
                                    <li v-for="todoitem in todos" v-bind:todoitems="todoitem" class="todos_items">
                                        <input type="checkbox" id="{{todoitem.todoId}}" v-model="doneItems" value="{{todoitem.todoId}}" v-on:click="checkItems">
                                        <label for="{{todoitem.todoId}}" class="done-{{todoitem.done}}" title="{{todoitem.text}}" style="font-weight: normal;margin-bottom: 0px;"> {{ todoitem.text }} </label>
                                    </li>
                                </ul>
                                <p>{{doneItems}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="container" style="color:white">
                    <center>
                        <div class="col-md-2 btn" v-on:click="restorePreviousSession">
                            <span class="glyphicon glyphicon-repeat footer-glyphicon"></span>
                            <br>
                            <br>
                            <span><strong>Reopen Closed Tabs</strong></span>
                        </div>
                        <div class="col-md-2 btn" v-on:click="openChromeApps">
                            <span class="glyphicon glyphicon-th footer-glyphicon"></span>
                            <br>
                            <br>
                            <span><strong>Apps</strong></span>
                        </div>
                        <div class="col-md-2 btn" v-on:click="openBookmarks">
                            <span class="glyphicon glyphicon-bookmark footer-glyphicon"></span>
                            <br>
                            <br>
                            <span><strong>Bookmarks</strong></span>
                        </div>
                        <div class="col-md-2 btn" v-on:click="openHistory">
                            <span class="glyphicon glyphicon-time footer-glyphicon"></span>
                            <br>
                            <br>
                            <span><strong>History</strong></span>
                        </div>
                        <div class="col-md-2 btn" v-on:click="openDownloads">
                            <span class="glyphicon glyphicon-download-alt footer-glyphicon "></span>
                            <br>
                            <br>
                            <span><strong>Downloads</strong></span>
                        </div>
                        <div class="col-md-2 btn" v-on:click="openSettings">
                            <span class="glyphicon glyphicon-cog footer-glyphicon"></span>
                            <br>
                            <br>
                            <span><strong>Settings</strong></span>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>
