html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#main-option {
    height: 100%;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.button2 {font-size: 12px;}