#main {
    height: 80vh;
    background-color: #537780;
    font-family: 'Raleway', sans-serif;
}

#footer {
    background-color: #4A2C2C;
    height: 20vh;
    border-top: 1px solid hsla(0, 0%, 0%, .03);
}

.footer-glyphicon {
    font-size: 36px;
}

.footer__btn__text {
    margin-top: 20px;
}

ul {
    padding: 0;
}

li {
    padding: 8px 15px;
    font-size: 1.1em;
    list-style-type: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #EEE;
}

li:hover {
    cursor: pointer;
    font-weight: 600;
    white-space: initial;
    word-wrap: break-word;
    text-overflow: inherit;
    border-bottom: #DDD 3px solid;
}

li:first-of-type {
    padding-top:10px;
}

li:last-of-type {
    padding-bottom:15px;
    border-bottom: none;
}

li .delete-btn {
    opacity: 0;
    display: none;
}

li:hover .delete-btn {
    opacity: 1;
    display: inline;
    font-weight: bold;
    cursor: default;
    transition: opacity 2s ease-in ease-in-out;
}

.done-true {
    text-decoration: line-through;
    color: #aaa;
}

.panel {
    border-color: #625772;
    margin: 10px;
    overflow: auto;
}

.panel-body__no-margin {
    margin: 0;
    height: 50vh;
    overflow: hidden;
    resize: vertical;
}

.panel-body__no-margin:hover {
    overflow-y: auto;
}

.panel>.panel-heading {
    color: white;
    background-color: #625772;
    border-color: #625772;
}

#trash {
    visibility: hidden;
}

.todo-form {
    margin: 10px 15px 0 15px;
}

.btn {
    color: #BBB;
}

.btn-dim {
    color: #777;
}

.btn:hover {
    color: #FFF;
}

.btn:active {
    box-shadow: none;
}


/* ------------------------- */
/* Utility classes start here*/

.center__xy__parent {
    position: relative;
}

.center_xy__child {
margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%) ;
transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
}

::-webkit-scrollbar-thumb {
    background: rgb(158, 155, 155); 
}

/* Utility classes end here */
/* ------------------------- */